* {
	height: auto;
	width: auto;
	padding: 0;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}
.home {
	background-color: #efb1d0;
	font-family: "Open Sans";
}

.welcome {
	background-color: #eaeaea;

}

a {
	text-decoration: none;
}

#nav {
	display: table;
	width: 100%;
	margin: 0px;
	padding: 5px;
	background-color: #eaeaea;
}

#nav li {
	margin-left: 40px;
}

ul {
	width: 100%;
	list-style-type: none;
	margin: 0;
}

.onclick-nav:focus {
	pointer-events: none;
}

.onclick-nav:focus .onclick-nav2 {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.onclick-nav2 {
	position: absolute;
	z-index: 1;
	opacity: 0;
	/*visibility: hidden;*/
	transition: visibility 0.5s;
}
ul li {
	display: table-cell;
	margin: 0px;
	float: left;
	font-size: 12px;
	font-weight: 600;
	width: 4%;
	text-align: center;
	white-space: nowrap;
}

.enternet {
	position: absolute;
	right: -145px;
	top: 60px;
	margin: 0;
	padding: 0;
}

.apps img {
	padding: 5px;
	width: 25%;
}

.apps p {
	font-size: 12px;
	font-weight: bold;
}

/*.snake {
	position: absolute;
	right: -145px;
	top: 80px;
	margin: 0;
	padding: 0;*/
}