/* ---------------- Body style ---------------- */
* {
/*	height: auto;*/
	width: auto;
	padding: 0;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	overflow: hidden;
	font-family: "Helvetica Neue";
}

/* ---------------- Index styling ---------------- */
.home {
	background-color: #ea95bf;
}

/* ---------------- Link styling ---------------- */

a {
	text-decoration: none;
}

/* ---------------- Navbar styling ---------------- */

#nav {
	display: table;
	width: 100%;
	margin: 0px;
	padding: 8px;
	background-color: #eaeaea;
}

#nav li {
	margin-left: -40px;
	cursor: default;
}

.icon, .dropbtn, #time{
	display: table-cell;
	margin: 0px;
	float: left;
	font-size: 14px;
	font-weight: 400;
	width: 8%;
	text-align: center;
	padding-top: -1px;
	margin-bottom: -4px;
}

.left {
	margin-left: -20px;
}

/* Time styling */

#time {
	float: right;
	margin-right: 35px;
	width: 145px;
}

/* ---------------- button dropdown style ---------------- */

.meno {
	padding-top: -1px;
	margin-bottom: -4px;
    list-style-type: none;
    margin: 0;
    background-color: #eaeaea;
}

a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 8px;
    margin-left:15px;
    background-color: #eaeaea;
    min-width: 110px;
    z-index: 9999;
    width: 5%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: default;
}

.dropdown-content a:hover {
	background-color: #3377ff;
	color: white;
}

.show {display:block;}

/* ---------------- Icon styling ---------------- */
.icon {
	margin-right: 10px;
}

.icon img {
	width: 20%;
	padding: 0;
	margin: 0;
	display: inline-block;
	overflow: hidden;
	margin-top: -3px;
	margin-left: 28px;
}

/* App icon styling */

div.apps {
	margin-right: 20px;
	margin-top: 20px;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	float: right;
}

.apps img {
	width: 55%;
	padding: 5px;
	float: right;
}

.title {
	display: block;
	font-size: 15px;
	font-weight: 500;
	color: white;
	float: right;
	clear: both;
	width: 61%;
	vertical-align: middle;
	padding-bottom: 35px;
	cursor: default;
}

/* ----------------Apps styling ---------------- */

/* ---------------- Enternet styling ---------------- */

#enternet {
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	width: 830px;
	background-color: #e6e6e6;
	display: none;
}

#enternet .top {
	background-color: #dddddd;
	padding-top: 10px;
	padding-left: 12px;
	padding-bottom: 10px;
}

.buttons {
	display: inline;

}

.close {
	width: 15px;
	height:0;
	padding-bottom: 15px;
    border-radius: 50%;
    overflow:hidden;
    background: #ff471a;
    float: left;
    border: solid 1px #bfbfbf;
}

.minimize {
	width: 15px;
	height:0;
	padding-bottom: 15px;
    border-radius: 50%;
    overflow:hidden;
	background: #ffd480;
	margin-left: 10px;
	float: left;
	border: solid 1px #bfbfbf;
}

.maximize {
	width: 1.8%;
	height:0;
	padding-bottom: 1.8%;
    border-radius: 50%;
    overflow:hidden;
	background: #47d147;
	margin-left: 10px;
	float: left;
	border: solid 1px #bfbfbf;
}

.etitle {
	padding-left: 40%;
	font-weight: 400;
}

.enternetHead {
	background-color: #eaeaea;
	margin-left: 5px;
}

.forbackwards {
	width: 4%;
	padding-bottom: 3px;
}

.url {
	background: linear-gradient(to right,  #eaeaea 0%, #eaeaea 2%, #f6f6f6 2%, #f6f6f6 86%, #eaeaea 86%, #eaeaea 150%);
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 600px;
	display: inline-block;
}

.option {
	width: 4.5%;
	padding-bottom: 3px;
	float: right;
	margin-right: 5px;
	display: inline-block;
}

.facelook {
	background-color: #003cb3;
	padding: 5px;
}

.search {
	width: 520px;
	background-color: white;
	display: inline-block;
	color: grey;
	padding: 5px;
	margin-left: 36px;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 3px;
}

.facelook h2 {
	margin-top: 3px;
	color: white;
	margin-left: 20px;
	float: left;
}

/* ---------------- Facelook styling ---------------- */

#enternet {

}

.enternetBody {
	overflow-y: scroll;
	height: 500px;
	margin-top: 10px;
}

.face {
	margin-top: 20px;
	width: 8%;
	padding-left: 60px;
}

.santa {
	margin-bottom: 40px;
}

.name {
	color: #003cb3;
	margin-bottom: 10px;
}

.pic {
	width: 100%;
	margin-bottom: 10px;
}

.text {
	margin-top: 15px;
	margin: bottom: 10px;
	padding-left: 20px;
	display: inline-block;
	background-color: white;
	padding: 20px;
	margin-left: 15px;
	width: 510px;
	vertical-align: top;
}

.hashtag {
	color: #003cb3;
}

/* ----------------Snake app styling ----------------*/


#snake {
	visibility: hidden;
	position: absolute;
	display: inline-block;
}

#snake .top {
	background-color: #dddddd;
	margin-top: 38px;
	padding-top: 10px;
	padding-left: 12px;
	padding-bottom: 10px;

}

.stitle {
	padding-left: 35%;
	font-weight: 400;
}

#canvas {
}

/* ---------------- Music app ---------------- */

#music {
	width: 500px;
	position: absolute;
	display: none;
}

#music .top {
	background-color: #dddddd;
	margin-top: 20px;
	padding-top: 10px;
	padding-left: 12px;
	padding-bottom: 10px;
}

.mutitle {
	padding-left: 32%;
	font-weight: 400;
}

.container { 
	position:relative; 
	margin:0 auto; 
	width:500px; 
}
.column { 
	width:inherit; 
}

audio, #plList, #plList li {
	border:0;
	font:inherit;
	font-size:100%;
	margin:0;
	padding:0;
	vertical-align:baseline;
	line-height:1;
	padding:5px 0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
}

/*li .plSel {
	width: 500px;
}*/

audio { margin:0 15px 0 14px; width:670px;}
#mainwrap { /* add box-shadow or other styles here */ }
#audiowrap { background-color:#231F20; margin:0 auto; }
#plwrap { margin:0 auto; }
#tracks { min-height:65px; position:relative; text-align:center; text-decoration:none; top:13px;}
#nowPlay { /*display:inline;*/ width: 500px; padding-top: 10px; background-color: #231F20; padding-bottom: 10px;}
#npTitle { margin:0; margin-top:5px; padding:21px; text-align:right; color: white; background-color:#231F20; width: 500px;}
#npAction { padding:21px; position:absolute; color}
#plList { margin:0; margin-top:-10px;}
#plList li { background-color:#231F20; cursor:pointer; margin:0; padding:21px 0; }
#plList li:hover { background-color:#262223; }
.plItem { position:relative; }
.plTitle { font-size:15px; left:20px; overflow:hidden; position:absolute; right:65px; text-overflow:ellipsis; top:0; white-space:nowrap; color: white;}
.plNum { padding-left:21px; width:25px; }
.plLength { padding-left:21px; position:absolute; right:21px; top:0; color: white;}
.plSel,.plSel:hover { background-color:#262223!important; cursor:default!important; }
a[id^="btn"] { background-color:#231F20; color:#C8C7C8; cursor:pointer; font-size:50px; margin:0; padding:0 27px 11px; text-decoration:none; }
a[id^="btn"]:last-child { margin-left:-4px; }
a[id^="btn"]:hover,a[id^="btn"]:active { background-color:#262223; }
a[id^="btn"]::-moz-focus-inner { border:0; padding:0; }

/* IE 11 */
html[data-useragent*="rv:11.0"] audio { margin-left:2px; width:695px; }
html[data-useragent*="rv:11.0"] #audiowrap { background-color:#000; }
html[data-useragent*="rv:11.0"] #tracks { min-height:60px; top:8px; }
html[data-useragent*="rv:11.0"] a[id^="btn"] { background-color:#000; }
html[data-useragent*="rv:11.0"] a[id^="btn"]:hover { background-color:#080808; }
html[data-useragent*="rv:11.0"] #plList li { background-color:#000; }
html[data-useragent*="rv:11.0"] #plList li:hover { background-color:#080808; }
html[data-useragent*="rv:11.0"] .plSel,
html[data-useragent*="rv:11.0"] .plSel:hover { background-color:#080808!important; }

/* Chrome */
html[data-useragent*="Chrome"] audio { margin-left:6px; width:487px; }
html[data-useragent*="Chrome"] #audiowrap { background-color:#141414; }
html[data-useragent*="Chrome"] #tracks { min-height:64px; top:12px; }
html[data-useragent*="Chrome"] a[id^="btn"] { background-color:#141414; }
html[data-useragent*="Chrome"] a[id^="btn"]:hover { background-color:#171717; }
html[data-useragent*="Chrome"] #plList li { background-color:#141414; }
html[data-useragent*="Chrome"] #plList li:hover { background-color:#171717; }
html[data-useragent*="Chrome"] .plSel,
html[data-useragent*="Chrome"] .plSel:hover { background-color:#171717!important; }

/* ---------------- Messenger app ---------------- */

.sender {
	padding: 5px;
	color: green;
}

.receiver {
	padding: 5px;
	color: blue;
}
#messenger {
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	width: 350px;
	background-color: #e6e6e6;
	display: none;
	cursor: default;
}

#messenger .top {
	background-color: #dddddd;
	padding-top: 10px;
	padding-left: 12px;
	padding-bottom: 10px;
}


.mtitle {
	padding-left: 25%;
	font-weight: 400;
}

.own {
	margin-bottom: 10px;
	font-weight: 200;
	margin-top: 10px;
	margin-left: 20px;
}

.own img {
	width: 15%;
	vertical-align: middle;
	float: left;
	
}

.own h4 {
	font-weight: 400;
	display: inline-block;
	padding-left: 10px;
	vertical-align: middle;
}

.ownpm {
	font-size: 14px;
	vertical-align: middle;
}

input.personal-msg {
	margin-left: 10px;
	margin-top: 5px;
	width: 200px;
	background-color: #e6e6e6;
	border: 0;
	color: black;
	font-size: 14px;
}

.send {
	background-color: white;
	height: 110px;
	width: 390px;
	margin-top: 10px;
	margin-left: 23px;
	font-size: 16px;
	padding: 5px;
	border: none;
	resize: none;
}


.contact {
	height: 280px;
	background-color: white;
}

.contact h4 {
	font-weight: 500;
	margin-top: 10px;
	margin-left: 20px;
}

.online {
	width: 350px;
	margin-bottom: 10px;
}

.online h4 {
	margin-bottom: 5px;
	margin-top: 10px;
	margin-left: 20px;
	color: #117c11;
}

.pm {
	margin-top: 2px;
	font-size: 13px;
	font-style: italic;
	margin-left: 20px;
}

.user {
	font-size: 16px;
	margin-top: 10px;
	margin-left: 20px;
}

.online .user {
	color: #003cb3;
}

.offline h4 {
	margin-bottom: 5px;
	margin-top: 10px;
	margin-left: 20px;
	color: #d6333e;
}

/* ---------------- Annie Chat ---------------- */

#annie {
	position: absolute;
	margin-top: 20px;
	margin-left: 500px;
	width: 550px;
	background-color: #e6e6e6;
	cursor: default;
	display: none;
}

#annie .top {
	background-color: #dddddd;
	padding-top: 10px;
	padding-left: 12px;
	padding-bottom: 10px;
}

.atitle {
	padding-left: 38%;
	font-weight: 400;
}

.body {
	height: 360px;
}

img.annie {
	width: 15%;
	float: left;
	padding-left: 20px;
	padding-top: 10px;
}

img.msnkaren {
	width: 15%;
	padding-left: 20px;
	margin-top: 10px;
	float: left;
}

.convo {
	background-color: white;
	width: 400px;
	height: 200px;
	margin-top: 13px;
	overflow-y: scroll;
}

.enter {
	background-color: white;
	height: 110px;
	width: 400px;
	margin-top: 10px;
}

/* ---------------- Jacob Chat ---------------- */

#jacob {
	position: absolute;
	margin-top: 40px;
	margin-left: 550px;
	width: 550px;
	background-color: #e6e6e6;
	cursor: default;
	display: none;
}

#jacob .top {
	background-color: #dddddd;
	padding-top: 10px;
	padding-left: 12px;
	padding-bottom: 10px;
}

.jtitle {
	padding-left: 38%;
	font-weight: 400;
}

.body {
	height: 360px;
}

img.jacob {
	width: 15%;
	float: left;
	padding-left: 20px;
	padding-top: 10px;
}

/* ---------------- Andy Chat ---------------- */

#andy {
	position: absolute;
	margin-top: 60px;
	margin-left: 600px;
	width: 550px;
	background-color: #e6e6e6;
	cursor: default;
	display: none;
}

#andy .top {
	background-color: #dddddd;
	padding-top: 10px;
	padding-left: 12px;
	padding-bottom: 10px;
}

.antitle {
	padding-left: 38%;
	font-weight: 400;
}

.body {
	height: 360px;
}

img.andy {
	width: 15%;
	float: left;
	padding-left: 20px;
	padding-top: 10px;
}

/* ---------------- Howard Chat ---------------- */

#howard {
	position: absolute;
	margin-top: 80px;
	margin-left: 650px;
	width: 550px;
	background-color: #e6e6e6;
	cursor: default;
	display: none;
}

#howard .top {
	background-color: #dddddd;
	padding-top: 10px;
	padding-left: 12px;
	padding-bottom: 10px;
}

.htitle {
	padding-left: 38%;
	font-weight: 400;
}

.body {
	height: 360px;
}

img.howard {
	width: 15%;
	float: left;
	padding-left: 20px;
	padding-top: 10px;
}

/* ---------------- Welcome page styling ---------------- */

.welcome {
	background-color: white;
	font-size: 8px;
	color: grey;
	text-align: center;
}

input.login {
	margin-top: 5px;
	background-color: white;
	width: 170px;
	font-size: 14px;
	padding: 2px;
}

.pwmsg {
	margin-top: 20px;
	font-size: 12px;
	color: #a6a6a6;
}

.pword {
	font-size: 14px;
}

.welcome h1 {
	font-weight: 500;
}

.welcome img {
	width: 35%;
	height: 35%;
	margin-top: 40px;
	margin-bottom: 15px;
}

.wcontainer {
	border-radius: 2.5%;
	margin-top: 10%;
	background-color: #eaeaea;
	width: 300px;
	height: 300px;
}